//------------------------------------------------------------------------------
//  This file contains helper classes to use globally
//------------------------------------------------------------------------------
//  CONTENT:S
//  1) Contextual colors
//  2) Contextual backgrounds
//  3) Text manipulation
//  4) Alignment classess
//  5) Display and visibility

/***********************************************\
    #CONTEXTUAL COLORS
\***********************************************/

/*
    Set text color to predefined black
 */
.h-color-black{
    color: $color-text !important;
}





/*
    Set text color to predefined black with opacity
 */
.h-color-black-l{
    color: $color-text-light !important;
}





/*
    Set text color to predefined "disabled" black text
 */
.h-color-black-d{
    color: $color-text-lightest !important;
}





/*
    Set text to predefined white
 */
.h-color-white{
    color: $color-text-white !important;
}





/*
    Set text to predefined white with opacity
 */
.h-color-white-l{
    color: $color-text-white-light !important;
}





/*
    Set text to predefined "disabled" white text
 */
.h-color-white-d{
    color: $color-text-white-lightest !important;
}





/*
    Set text to predefined brand primary color
 */
.h-color-primary{
    color: $color-brand-primary !important;
}





/*
    Set text to predefined brand secondary color
 */
.h-color-secondary{
    color: $color-brand-secondary !important;
}





/*
    Set text to predefined ui success color
 */
.h-color-success{
    color: $color-ui-success !important;
}





/*
    Set text to predefined ui warning color
 */
.h-color-warning{
    color: $color-ui-warning !important;
}





/*
    Set text to predefined ui error color
 */
.h-color-error{
    color: $color-ui-error !important;
}





/***********************************************\
    #CONTEXTUAL BACKGROUNDS
\***********************************************/

/*
    Set background color to predefined ui black
 */
.h-bkg-black{
    background-color: $color-ui-black !important;
}





/*
    Set background color to predefined ui background white
 */
.h-bkg-white{
    background-color: $color-ui-white !important;
}





/*
    Set background color to predefined brand primary color
 */
.h-bkg-default{
    background-color: $color-brand-bkg !important;
}





/*
    Set background color to predefined brand primary color
 */
.h-bkg-primary{
    background-color: $color-brand-primary !important;
}





/*
    Set background color to predefined brand secondary color
 */
.h-bkg-secondary{
    background-color: $color-brand-secondary !important;
}





/***********************************************\
    #TEXT MANIPULATION
\***********************************************/

/*
    Set text to uppercase
 */
.h-txt-uppercase{
    text-transform: uppercase !important;
}





/*
    Set text to lowercase
 */
.h-txt-lowercase{
    text-transform: lowercase !important;
}





/*
    Set text to capitalize
 */
.h-txt-capitalize{
    text-transform: capitalize !important;
}





/*
    Set text to bold
 */
.h-txt-bold{
    font-weight: bold !important;
}





/*
    Set text to italics
 */
.h-txt-italic{
    font-style: italic !important;
}





/*
    Underline text
 */
.h-txt-underline{
    text-decoration: underline !important;
}





/*
    Set text size to small
 */
.h-txt-small{
    font-size: 75% !important;
}





/*
    Truncate text with ellipsis
 */
.h-txt-truncate{
    width: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}





/*
    Truncate multiline text with ellipsis
    @require $block-truncate-lines variable
 */
.h-txt-truncate-multiline{
    display: block !important;
    display: -webkit-box !important;
    height: calc($block-truncate-lines * $block-truncate-line-height + 1)px !important;
    -webkit-line-clamp: $block-truncate-lines !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/***********************************************\
    #ALIGNMENT CLASSESS
\***********************************************/

/*
    Align text to left
 */
.h-align-left{
    text-align: left !important;
}





/*
    Align text to center
 */
.h-align-center{
    text-align: center !important;
}





/*
    Align text to right
 */
.h-align-right{
    text-align: right !important;
}





/*
    Vertically align element to center
 */
.h-valign-center{
    position: relative !important;
    top: 50% !important;
    @include transform(translateY(-50% !important));
}





/*
    Horizontally align block element to center
 */
.h-align-block-center{
    margin-left: auto !important;
    margin-right: auto !important;
}





/***********************************************\
    #DISPLAY AND VISIBILITY
\***********************************************/

/*
    Display element as inline
 */
.h-display-inline{
    display: inline !important;
}





/*
    Display element as block
 */
.h-display-block{
    display: block !important;
}





/*
    Display element as inline-block
 */
.h-display-ib{
    display: inline-block !important;
}





/*
    Show element on small devices
 */
.h-visible{ visibility: visible !important;}





/*
    Show element on tablet-size devices
 */
.h-visible-tab{
    @include respond-to('tab'){ visibility: visible !important; }
}





/*
    Show element on laptop devices
 */
.h-visible-lap{
    @include respond-to('lap'){ visibility: visible !important; }
}





/*
    Show element on desktop devices
 */
.h-visible-desk{
    @include respond-to('desk'){ visibility: visible !important;}
}





/*
    Make element invisible on small devices
 */
.h-invisible{ visibility: hidden !important; }





/*
    Make element invisible on tablet-size devices
 */
.h-invisible-tab{
    @include respond-to('tab'){ visibility: hidden !important; }
}





/*
    Make element invisible on laptop devices
 */
.h-invisible-lap{
    @include respond-to('lap'){ visibility: hidden !important; }
}





/*
    Make element invisible on desktop devices
 */
.h-invisible-desk{
    @include respond-to('desk'){ visibility: hidden !important; }
}





/*
    Hide element on small devices
 */
.h-hide{
    display: none !important;
}





/*
    Hide element on tablet-size devices
 */
.h-hide-tab{
    @include respond-to('tab'){ display: none !important; }
}





/*
    Hide element on laptop devices
 */
.h-hide-lap{
    @include respond-to('lap'){ display: none !important; }
}





/*
    Hide element on desktop devices
 */
.h-hide-desk{
    @include respond-to('desk'){ display: none !important; }
}





/*
    Show element on small devices
 */
.h-show{
    display: block !important;
}





/*
    Show element on tablet-size devices
 */
.h-show-tab{
    @include respond-to('tab'){ display: block !important; }
}





/*
    Show element on laptop devices
 */
.h-show-lap{
    @include respond-to('lap'){ display: block !important; }
}





/*
    Show element on desktop devices
 */
.h-show-desk{
    @include respond-to('desk'){ display: block !important; }
}
