/**
 *    BASE
 *    Basic presets
 */

 ::-moz-selection {
 	background: $color-ui-selection;
 	color: $color-text;
 }
 ::selection {
 	background: $color-ui-selection;
 	color: $color-text;
 }

 html{
     font-family: $system-font-stack;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     font-size: 100%;
     -webkit-tap-highlight-color: $color-ui-tap-highlight;
     line-height: 1;
 }

 body {
     margin: 0;
     padding: 0;
     text-rendering: optimizeLegibility;
     font-weight: normal;
     font-size: 100%;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 	 font-smoothing: antialiased;
     color: $color-text;
     line-height: $line-height-body;
 }

 img, embed,
 object, video{
   max-width: 100%;
 }

 input:focus, select:focus,
 textarea:focus, button:focus,
 [contenteditable="true"], *{
 	outline:none;
 }
