/**
 *    TYPOGRAPHY
 *    1) Headers..................Styles for headers elements and classes
 *    2) Hero headers.............Styles for big headers
 *    3) Subheaders...............Styles for subheaders elemensts
 *    4) Paragraphs
 *    5) Formatting
 */

/********************************\
    #HEADERS
\********************************/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: $font-family-primary , $font-family-secondary , sans-serif;
    font-weight: $font-weight-bold;
    color: inherit;
    line-height: $line-height-header;
    margin-bottom: $header-margin-bottom;
}

@each $header, $size in $header-sizes{
    #{$header}, .#{$header}{
        font-size: $size !important;
    }
}





/********************************\
    #HERO HEADERS
\********************************/

.hero1, .hero2,
.hero3{
     font-family: $heroheader-font-family;
     font-weight: $heroheader-font-weight;
     color: inherit;
     line-height: $header-line-height;
     margin-bottom: $header-margin-bottom;
 }

 @each $header, $size in $heroheader-sizes{
     .#{$header}{
         font-size: $size !important;
     }
 }






 /********************************\
     #SUBHEADERS
 \********************************/
 @each $header, $size in $subheader-sizes{
     #{$header}.subheader, #{$header} span{
         font-size: $size !important;
         color: $color-medium-black;
         font-weight: $subheader-font-weight;
         margin-bottom: $header-margin-bottom;
     }
 }





 /********************************\
     #PARAGRAPHS
 \********************************/
p{
    font-size: inherit;
    font-weight: $global-font-weight;
    line-height: $global-line-height;
    color: inherit;
}

 p.p--lead{
     font-size: 112.5%;
     line-height: $line-height-paragraph-lead;
 }





 /********************************\
     #FORMATTING
 \********************************/

strong, b,
.-bold{
    font-weight: $font-weight-bold;
}

em, i,
.-italic{
    font-style: italic;
}

small, .caption,
.-small-text{
    font-size: 75%;
}

.-uppercase{
    text-transform: uppercase;
}

/*
    TODO: highlight styles
    mark, .highlight
 */
